<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="com.ballydev.sds.voucherui"
         name="Voucher"
         point="com.ballydev.sds.framework.pluginDescriptors">
         <pluginDescriptor class="com.ballydev.sds.voucherui.VoucherPluginDescriptor"/>
   </extension>

</plugin>
