<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    version="2.5" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>JackpotEngine</display-name>
    <servlet>
        <display-name>JackpotEngine</display-name>
        <servlet-name>JackpotEngine</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    </servlet>

	<servlet>
        <display-name>JackpotServlet</display-name>
        <servlet-name>JackpotServlet</servlet-name>
        <servlet-class>com.ballydev.sds.jackpot.servlet.JackpotServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>JackpotEngine</servlet-name>
        <url-pattern>/JackpotEngine</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>JackpotServlet</servlet-name>
        <url-pattern>/JackpotServlet</url-pattern>
    </servlet-mapping>    
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
